@using System.Collections.Generic;
@using System.Linq;
@using DM_UI.App_Start;
@model List<DM_BusinessEntities.UserToolEntity>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<script type="text/javascript">

    function launchApp() {
        var WShell = new ActiveXObject("WScript.Shell");
        WShell.Run("D:\IConvert.exe", 1, false);
    }

</script>
<div style="width: 99.5%; position: absolute; top: 0px; text-align: right; ">
    @Html.Partial("MyAccount")
</div>
<div style="width:800px;margin:auto;">
    <div class="navbar2">
        <br />
        <div style="text-align:center;">
            @if (Model.Exists(r => r.TOOL_ID == ((int)UIProperties.Tools.IConvert)))
            {
                if(UIProperties.Sessions.Client !=null){
                    <img src="@Url.Content(string.Format("~/Images/iConvertPlus.png", UIProperties.Sessions.Client.project_ID))" alt="" />
                }
                @*<img src="~/Images/iConvertPlus.png" />*@                
            }
            <span style="color: #010162;font-weight:700;font-size:2em;">Hexaware Data Modernisation Platform</span>
        </div>

        <ul>
            @if (Model.Exists(r => r.TOOL_ID == ((int)UIProperties.Tools.MasterSetup)))
            {
                <li>
                    <a href="Home/MasterSetup" title="Master Setup">
                        <div>
                            <img alt="img" src="~/images/mastersetup.png" />
                        </div>
                    </a>
                </li>
            }
            @if (Model.Exists(r => r.TOOL_ID == ((int)UIProperties.Tools.DIMAPLUS)))
            {
                <li>
                    <a href="DIMAPLUS/Index" title="Click to Open DASEM">
                        <div>
                            <img alt="img" src="~/images/dasem.png" />
                        </div>
                    </a>
                </li>
            }
            @if (Model.Exists(r => r.TOOL_ID == ((int)UIProperties.Tools.DataProfiler)))
            {
                <li>
                    <a href="DataProfiler/Configuration" id="lnkbtnDataProfiler">
                        <div>
                            <img alt="img" src="~/images/dataprofiler.png" />
                        </div>
                    </a>
                </li>
            }
            @if (Model.Exists(r => r.TOOL_ID == ((int)UIProperties.Tools.HexaRule)))
            {
                <li>
                    <a href="Hexarule/Index" id="lnkbtnHexarule" title="HexaRule is an user friendly Rule Engine Framework to create/modify rules without any code changes">
                        <div>
                            <img alt="img" src="~/images/HexaRule.png" />
                        </div>
                    </a>
                </li>
            }
          
            @if (Model.Exists(r => r.TOOL_ID == ((int)UIProperties.Tools.Automaton)))
            {

                <li>
                    <a href="Automaton/Configuration" id="lnkbtnAutomaton" title="Automaton for SSIS creates the SSIS packages XML in automated way through SSIS APIs">
                        <div>
                            <img alt="img" src="~/images/automation.png" />
                        </div>
                    </a>
                </li>
            }

            @if (Model.Exists(r => r.TOOL_ID == ((int)UIProperties.Tools.DataRecon)))
            {
                <li>
                    <a href="DataRecon/Configuration" title="This tool is used  to validate / compare data from any source & target, to identify discrepancies">
                        <div>
                            <img alt="img" src="~/images/DataRecon.png" />
                        </div>
                    </a>
                </li>

            }
            @if (Model.Exists(r => r.TOOL_ID == ((int)UIProperties.Tools.DashboardReports)))
            {
                <li>
                    <a href="DashBoard/Index" id="lnkbtnDashboard" title="Click to Open Dashboard & Reports">
                        <div>
                            <img alt="img" src="~/images/DashBoard.png" />
                        </div>
                    </a>
                    @*<a href="Dashboard.aspx?Hexaware" id="lnkbtnDashboard" title="Click to Open Dashboard & Reports">
                            <div>
                                <img alt="img" src="~/images/DashBoard.png" />
                            </div>
                        </a>*@
                </li>
            }

            @if (Model.Exists(r => r.TOOL_ID == ((int)UIProperties.Tools.DART)))
            {
                <li>
                    <a href="#" id="lnkbtnDART" title="DART (Data integration Analysis and Review Tool) is an automated Data Integration code review tool to ensure consistency in coding standards across developers, and can be  leveraged for platforms like  Informatica, DataStage, Data Integrator, SSIS">
                        <div>
                            <img alt="img" src="~/images/DART.png" />
                        </div>
                    </a>
                </li>
            }
            @if (Model.Exists(r => r.TOOL_ID == ((int)UIProperties.Tools.DIMA)))
            {
                <li id="lidima">
                    <a href="DIMA/DIMAConfig" id="lnkbtnDIMA" title="Data Integration metadata analyzer tool which enables understanding of the table usage, data flow between the tables in an Data Integration environment and provides a graphical table – mapping dependency view. ">
                        <div>
                            <img alt="img" src="~/images/DIMA.png" />
                        </div>
                    </a>
                </li>
            }
            @if (Model.Exists(r => r.TOOL_ID == ((int)UIProperties.Tools.SQLPARSER)))
            {
                <li>
                    <a href="#" title="SQL Parser is a tool used to code-mine SQL scripts and procedures and extract relevant information like Table, Column and the usage stats like Insert/Update/Delete">
                        <div>
                            <img alt="img" src="~/images/sql.png" />
                        </div>
                    </a>
                </li>
            }
            @*@if (Model.Exists(r => r.TOOL_ID == ((int)UIProperties.Tools.IConvert)))
            {
                <li>
                    <a href="#" onclick="launchApp()">
                        <div>
                            <img alt="img" src="~/images/iconvert.png" />
                        </div>
                    </a>
                </li>
            }*@
        </ul>

    </div>

</div>
