@{
    ViewBag.Title = "Code Rule Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loadingprogress {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }

    .ui-autocomplete {
        cursor: pointer;
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        font-size: 13px;
        line-height: 20px;
        font-family: "Open Sans",sans-serif;
        background-image: none;
    }

        .ui-autocomplete.ui-widget {
            font-family: "Open Sans",sans-serif;
            font-size: 12px;
        }

    .ui-jqgrid .ui-jqgrid-bdiv {
        position: relative;
        margin: 0em;
        padding: 0;
        overflow: auto;
        /*overflow-x: hidden;
        overflow-y: auto;*/
        text-align: left;
    }
</style>
@*<link href="~/Content/themes/smoothness/jquery-ui-1.11.4.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript">
    $(function () {

        var baseUrl = '@Url.Content("~/")';
        var client_ID = $("#hdnClientId").val();
        var project_ID = $("#hdnProjectId").val();
        var configId = $("#hdnConfigId").val();
        $('#btnsubmit').hide();

        $.ajax({
            type: "GET",
            url: baseUrl + "api/DataProfilerAPI/GetTableCodeColumnList",
            data: { client_ID: client_ID, project_ID: project_ID, config_ID: configId },
            dataType: 'json',
            success: function (data) {
                if (data == null || data._codeList == undefined || data.statuscode != "0") {
                    alert(data.message);
                    return false;
                }
                $('#txtColumns').autocomplete({
                    source: data._codeList,
                    minLength: 0,
                    scroll: true,
                    select: function (event, ui) {
                        $(this).val(ui.item.value);
                        loadData(ui.item.value);    //For loading selected column value
                        loadCreatedRule(ui.item.value) //Existing Rule for the selected column.
                        //return false;
                    },
                    change: function (event, ui) {
                        if (ui.item == null || ui.item == undefined) {
                            $('#txtColumns').val('');
                        }
                    }
                }).focus(function () {
                    $(this).autocomplete("search", "");
                });
            },
            error: function (xhr) {
                alert(xhr.statusText);
            }
        });

        $('#btnsubmit').click(function () {

            var selectedColumn = $('#txtColumns').val();

            var columnName = selectedColumn.slice(0, selectedColumn.indexOf('[')).trim();
            var tableName = selectedColumn.slice(selectedColumn.indexOf('[') + 1, selectedColumn.indexOf(']'));

            var selectedRow = jQuery("#grdCodeVal").jqGrid('getGridParam', 'selarrrow');
            if (selectedRow == undefined || selectedRow == "") {
                alert('Select code values to create rule.');
                return;
            }

            var codeval = [];
            for (var i = 0; i < selectedRow.length; i++) {
                codeval.push(jQuery("#grdCodeVal").jqGrid('getCell', selectedRow[i], 'codevalue'));
            }

            $.ajax({
                type: "GET",
                url: baseUrl + "api/DataProfilerAPI/CreateCodeRule",
                data: { client_ID: client_ID, project_ID: project_ID, config_ID: configId, table_name: tableName, column_name: columnName, code_value: codeval.join(',') },
                dataType: 'json',
                success: function (data, result) {
                    if (result && data.indexOf('Success') != -1)
                    { alert('Rule(s) created successfully for the selected code(s).'); }
                    else { alert('Failed to create rule. ' + data); }
                },
                error: function (xhr) {
                    alert(xhr.statusText);
                }
            });
        })


        function loadData(val) {

            var columnName = val.slice(0, val.indexOf('[')).trim();
            var tableName = val.slice(val.indexOf('[') + 1, val.indexOf(']'));
            $('#btnsubmit').show();

            $("#grdCodeVal").GridUnload();
            jQuery("#grdCodeVal").jqGrid({
                mytype: 'POST',
                datatype: 'json',
                url: baseUrl + 'api/DataProfilerAPI/GetColumnCodeValue',
                postData: { client_ID: client_ID, project_ID: project_ID, config_ID: configId, table_name: tableName, column_name: columnName },
                height: 160,
                width: 500,
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                autowidth: false,
                shrinkToFit: false,
                colNames: ['Code Value', 'Value Count'],
                colModel: [
                { name: 'codevalue', index: 'codevalue', width: 350, align: 'left', editable: false, resizable: false },
                { name: 'valuecount', index: 'valuecount', width: 100, align: 'left', editable: false, resizable: false }
                ],
                pager: '#pgrCodeVal',
                multiselect: true,
                loadonce: true,
                gridview: true,
                viewrecords: true,
                caption: 'Code Value'
            });

        }

        function loadCreatedRule(val) {

            $("#grdCodeRule").addClass('cdeRle-jqgrid');

            var columnName = val.slice(0, val.indexOf('[')).trim();
            var tableName = val.slice(val.indexOf('[') + 1, val.indexOf(']'));

            $("#grdCodeRule").GridUnload();
            jQuery("#grdCodeRule").jqGrid({
                mytype: 'POST',
                datatype: 'json',
                url: baseUrl + 'api/DataProfilerAPI/GetCodeRule',
                postData: { client_ID: client_ID, project_ID: project_ID, table_name: tableName, column_name: columnName },
                height: 160,
                width: 750,
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                autowidth: false,
                shrinkToFit: false,
                colNames: ['Table Name', 'Column Name', 'Rule', 'Created Date'],
                colModel: [
                { name: 'tablename', index: 'tablename', width: 150, align: 'left', editable: false },
                { name: 'columnname', index: 'columnname', width: 150, align: 'left', editable: false },
                { name: 'rule', index: 'rule', width: 300, align: 'left', editable: false },
                { name: 'created', index: 'created', width: 130, align: 'left', editable: false }
                ],
                pager: '#pgrCodeRule',
                loadonce: true,
                gridview: false,
                viewrecords: true,
                scrollOffset: 0,
                caption: 'Code Rule'
            });
        }

    });

    function ShowProgress() {
        setTimeout(function () {
            var modal = $('<div />');
            modal.addClass("modal");
            var loading = $(".loadingProgress");
            loading.show();
            var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
            var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
            loading.css({ top: top, left: left });
        }, 200);
    }

    function HideProgress() {
        setTimeout(function () {
            var modal = $('<div />');
            modal.addClass("modal");
            var loading = $(".loadingProgress");
            loading.hide();
            var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
            var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
            loading.css({ top: top, left: left });
        }, 200);
    }
</script>
<div class="table-div">
    <div class="loadingprogress" align="center">
        <span id="lodingMessage">Processing. Please wait...</span>
        <br /><br />
        <img src="../Images/loader.gif" alt=" " />
    </div>
    <table style="width: 99%;">
        <tr>
            <td style="width:11%;">
                <span id="labeltable" class="control-label">Select Code Column</span>
            </td>
            <td>
                <input type="text" id="txtColumns" size="56" />
            </td>
        </tr>
        <tr style="height: 10px;"><td colspan="2"></td></tr>
        <tr>
            <td colspan="2">
                <table id="grdCodeVal" align='center'></table>
                <div id="pgrCodeVal" class="scroll"></div>
            </td>
        </tr>
        <tr style="height: 10px;"><td colspan="2"></td></tr>
        <tr>
            <td colspan="2">
                <div style="width: 500px;text-align: right;"><input type="button" id="btnsubmit" value="Submit" class="button btn-width-150"></div>
            </td>
        </tr>
        <tr style="height: 10px;"><td colspan="2"></td></tr>
        <tr>
            <td colspan="2">
                <table id="grdCodeRule" align='center'></table>
                <div id="pgrCodeRule" class="scroll"></div>
            </td>
        </tr>
    </table>
</div>
<input type="hidden" value="@ViewData["ClientID"]" id="hdnClientId" />
<input type="hidden" value="@ViewData["ProjectID"]" id="hdnProjectId" />
<input type="hidden" value="@ViewData["ConfigId"]" id="hdnConfigId" />